---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
$blue: #0394d9;
$orange: #ff7c0f;
$white: #fff;

// 3. Set the derived variables
$primary: $blue;
$primary-invert: $white;
$info: $orange;

// 4. Import the rest of Bulma
@import "bulma/bulma";

// 5. Import FontAwesome
$fa-font-path: "../fonts/font-awesome";
@import "font-awesome/font-awesome";

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 1em;
}

.plateau-bg {
  background-image: linear-gradient(to bottom, rgba($primary, .8), rgba($info, .9)), url('{{ "/img/plateau.jpg" | prepend: site.baseurl_root }}');
  background-size: cover;
  opacity: .8;
}

#language {
  background-color: $primary;
  font-weight: 700;
}
