---
layout: default
---

<section class="hero is-primary is-fullheight plateau-bg">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item" href="/">
            <img src="{{ '/img/lingfisher-white.png' | prepend: site.baseurl_root }}" alt="{% t home.header.nav.logoAlt %}">
          </a>
        </div>
<!--         <div class="nav-right">
          {% if site.lang == "en" %}
            {% capture link1 %}{{ site.baseurl_root }}zh-tw{{ page.url }}{% endcapture %}
            <a class="nav-item" href="{{ link1 }}" >{% t home.header.nav.zhTw %}</a>
          {% elsif site.lang == "zh-tw" %}
            {% capture link2 %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %}
            <a class="nav-item" href="{{ link2 }}" >{% t home.header.nav.en %}</a>
          {% endif %}
        </div> -->
      </div>
    </header>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-4-widescreen is-offset-1-widescreen">
          <h2 class="title is-spaced is-2">{% t home.body.headline %} <span class="typer" id="language" data-delay="150" data-delete-delay="1000" data-words="{% t home.body.typer %}" data-colors="white"></span><span class="cursor" data-owner="language"></span></h2>
          <h3 class="subtitle is-4"><strong>{% t home.body.subhead.term %}</strong> {% t home.body.subhead.definition %}</h3>
        </div>
        <div class="column is-4-widescreen is-offset-2-widescreen">
          <p>{% t home.body.content.paragraph1 %}</p>
          <p>{% t home.body.content.paragraph2 %}</p>
          <h3 class="subtitle is-4">{% t home.body.content.heading %}</h3>
          <p>{% t home.body.content.paragraph3 %}</p>
          <form method="POST" action="https://formspree.io/colin.gorrie+lingfisher@gmail.com">
            <div class="field is-grouped">
              <div class="control has-icons-left is-expanded">
                <input type="email" class="input is-flat required email" name="_replyto" placeholder="{% t home.body.content.optin.email %}">
                <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
              </div>
              <div class="control">
                <input type="submit" class="button is-white is-outlined" value="{% t home.body.content.optin.subscribe %}">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <div class="has-text-centered">
      <p>{% t home.footer.message.beforeHeart %} <i class="fa fa-heart" style="padding-top: 4px;"></i> {% t home.footer.message.afterHeart %}</p>
    </div>
  </div>
</section>
